body{
display:flex;
justify-content:center;
align-items:center;
height:100vh;
background:#1e293b;
font-family:Arial;
}

.calculator{
background:#0f172a;
padding:20px;
border-radius:12px;
box-shadow:0 10px 25px rgba(0,0,0,0.4);
}

#display{
width:100%;
height:60px;
font-size:24px;
margin-bottom:15px;
text-align:right;
padding:10px;
border:none;
border-radius:6px;
}

.buttons{
display:grid;
grid-template-columns:repeat(4,70px);
gap:10px;
}

button{
height:60px;
font-size:20px;
border:none;
border-radius:8px;
background:#334155;
color:white;
cursor:pointer;
transition:0.2s;
}

button:hover{
background:#475569;
}

.zero{
grid-column:span 2;
}